/* Navbar color change on scroll class */
.fixed-top.seeThru{
  background-color: rgba(0, 255, 111, 0.9);
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

/*Hover styles for menu */
/*#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: ;
}*/
/* background image for profile image */

header.masthead {
  background: url("fall_leaves.png") no-repeat;
}

header.masthead img {
  border-color: white;
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
}

/*Add border around masthead H1 text*/

header.masthead h1 {
  -webkit-text-stroke: 0.5px black;
}

/*Styles for About section */

section#about {
    background-color: #002020!important;
  }
/* Star color styles */
#mastheadStar.star-light:after {
  background-color: rgba(255, 0, 0, 0.0)!important;
}

#aboutStar.star-light:after{
  background-color: #002020!important;
}

/* Hire me transition style */
.btn btn-xl btn-outline-light {
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

/*Footer styles */
.footer {
  background-color: #002020!important;
}

.copyright {
  background-color: #350000!important;
}
