body {
  background-color: #fff;
}
/* override primary button styles */
.bg-primary {
  background-color: #285764!important;
}
#mobileMenu .navbar-toggler:hover {
  background-color: #93ADB5;
}

/* Navbar color change on scroll class */
.fixed-top.seeThru{
  background-color: rgba(238,171,160, 0.7);
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

/*Hover styles for menu */
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color:#285764;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active {
  background-color:#285764!important;
   color:#fff;
}


@media (min-width: 992px)

#mainNav a.nav-link:active {
  background: #285764;

}
/* background image for profile image */

header.masthead {
  background: url("camera-1920.png") no-repeat;
}

header.masthead img {
  border-color: white;
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
}

/*Add border around masthead H1 text*/

header.masthead h1 {
  -webkit-text-stroke: 0.5px black;
}

.text-secondary {
  color: #285764!important;
}

/* Portfolio styles */

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(189, 219, 147, 0.9);
}

#portfolio-modal-5 > div > a > i {
  color: rgb(189, 219, 147);
}
/*Styles for About section */

section#about {
    background-color: #EEABA0!important;
  }
/* Star color styles */
#mastheadStar.star-light::after {
  background-color: transparent!important;
}

#aboutStar.star-light:after{
  background-color: #EEABA0!important;
}

hr.star-dark {
  color: #285764!important;
  border-color: #285764!important;
}
hr.star-dark::after {
  color: #285764!important;
  border-color: #285764!important;
}

/* Hire me transition style */

/*contact me styles */

#sendMessageButton {
  background-color: #285764;
  border-color: #285764;
}

#sendMessageButton:hover {
  background-color: #436F7C;
  border-color:#436F7C;
}
/*Footer styles */
.footer {
  background-color: #2c3e50!important;
}

.copyright {
  background-color: #2c3e50!important;
}

#designer {
  color: #eeaba0;
}

.btn-social:hover {
  background-color: #EEABA0;
}
